@import "scss/colors";
@import "scss/mixins";
.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.4rem;
  width: auto;
  border-radius: 0.5rem;
  color: white;
  overflow: hidden;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 0 var(--buttonPadding, 3.6rem);
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  white-space: nowrap;
  backface-visibility: hidden;
  transition: 0.3s color ease-in-out,
              0.3s background-color ease-in-out,
              0.3s border-color ease-in-out,
              0.3s opacity ease-in-out;
  
  &_width {
    &_100 {
      width: 100%;
    }
  }

  &.disabled {
    pointer-events: none;
  }

  &_color {
    &_white {
      background: transparent;
      &:after {
        content: '';
        position: absolute;
        border-radius: 0.5rem;
        overflow: hidden;
        background: transparent;
        box-shadow: 0 0 0 2px white inset;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 1;
        transition: 0.3s opacity ease-in-out, 0.3s background-color ease-in-out;
        z-index: 1;
      }
      &:hover, &:focus {
        color: black;
        background: white;
      }
      &:hover {
        &:after {
          opacity: 0;
        }
      }
      &:focus {
        &:after {
          box-shadow: 0 0 0 2px black inset;
        }
      }
      &:active {
        background: #F7F7F7;
        color: black;
        &:after {
         opacity: 0;
        }
      }
      &.disabled {
        opacity: 0.5;
      }
    }
    &_black {
      color: $blue;
      background: transparent;
      &:after {
        content: '';
        position: absolute;
        border-radius: 0.5rem;
        overflow: hidden;
        background: transparent;
        box-shadow: 0 0 0 2px $blue inset;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 1;
        transition: 0.3s opacity ease-in-out, 0.3s background-color ease-in-out;
        z-index: 1;
      }
      &:hover, &:focus, &:active {
        color: white;
        background: $blue;
      }
    }

    &_orange {
      background: $orange;
      &:after {
        content: '';
        position: absolute;
        border-radius: 0.5rem;
        overflow: hidden;
        background: transparent;
        box-shadow: 0 0 0 2px  $orange inset;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: 0.3s opacity ease-in-out, 0.3s background-color ease-in-out;
        z-index: 1;
      }
      &:hover {
        color: $orange;
        background: #F7F7F7;
      }
      &:focus {
        color: $orange;
        background: #F7F7F7;
        &:after {
          opacity: 1;
        }
      }
  
      &:active {
        background: rgba(0, 0, 0, 0.1);
      }
  
      &.disabled {
        color: rgba(white, 0.5);
      }
    }
    
    &_blue {
      background: $blue;
      &:after {
        content: '';
        position: absolute;
        border-radius: 0.5rem;
        overflow: hidden;
        background: transparent;
        box-shadow: 0 0 0 2px $blue inset;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: 0.3s opacity ease-in-out, 0.3s background-color ease-in-out;
        z-index: 1;
      }
      &:hover {
        color: $blue;
        background: #F7F7F7;
      }
      &:focus {
        color: $blue;
        background: #F7F7F7;
        &:after {
          opacity: 1;
        }
      }
  
      &:active {
        background: rgba(0, 0, 0, 0.1);
      }
  
      &.disabled {
        color: rgba(white, 0.5);
      }
    }
  }
}

.text {
  position: relative;
  z-index: 2;
  white-space: nowrap;
  top: -0.1rem;
}

