@import "scss/colors";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  width: auto;
  border-radius: 0.5rem;
  color: white;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  padding: 0 2rem;
  cursor: pointer;
  
  &_width {
    &_100 {
      width: 100%;
    }
  }

  &_color {
    &_white {
      background: white;
    }

    &_orange {
      background: $orange;
    }
    
    &_blue {
      background: $blue;
    }
  }
}

