@import "./scss/mixins";
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2.1rem 0;
}

.inner {
  @include container;
  display: grid;
  grid-template-columns: 14rem auto 14rem;
  align-items: center;
}

.logo {
  width: 13.887rem;
  height: 2.963rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.menu {
  display: flex;
  justify-content: center;
}