@import "mixins";
html {
  font-size: 0.78125vw;

  @include mediaMob {
    font-size: 3.125vw;
    @media (min-width: 768px){
      font-size: 2.6vw;
    }
  }
}

body {
  font-family: "Golos Text", Arial, sans-serif;
  font-size: 1.6rem;
}

.tinkoffPayRow{
  display:block;
  margin:1%;
  width:16rem;
}

