@import "colors";
@mixin container {
  max-width: 128rem;
  padding: 0 6rem;
  margin: 0 auto;
}

@mixin select {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s color ease-in-out, 0.2s background ease-in-out;
  &_active {
    background: white;
    font-weight: bold;
    color: $blue;
  }
}

@mixin col2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}

@mixin col3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
}

@mixin title-1 {
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 1.2;
}

@mixin title-2 {
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 1.2;
}

@mixin title-3 {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 1.3;
}

@mixin text-20 {
  font-size: 2rem;
  line-height: 1.5;
}

@mixin text-16 {
  font-size: 1.6rem;
  line-height: 1.5;
}



