@import "./scss/mixins";
@import "./scss/colors";

.distribution {
  @include container;
  padding-top: 12rem;
  @include mediaMob {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.title {
  font-size: 3.6rem;
  line-height: 130%;
  font-weight: normal;
  margin-bottom: 8rem;
  @include mediaMob {
    font-size: 2rem;
    line-height: 140%;
    margin-bottom: 5rem;
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
  @include mediaMob {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4.2rem;
  }
}

.item-header {
  @include mediaMob {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
}

.item-number {
  position: relative;
  width: 10.4rem;
  height: 10.4rem;
  margin-bottom: 2.4rem;
  font-weight: 800;
  color: white;
  line-height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mediaMob {
    width: 5.2rem;
    height: 5.2rem;
    flex-shrink: 0;
    margin-bottom: 0;
  }
  &_1 {
    background: url("../../public/media/icon-num-1.svg") no-repeat center;
    background-size: 100%;
  }
  &_2 {
    background: url("../../public/media/icon-num-2.svg") no-repeat center;
    background-size: 100%;
  }
  &_3 {
    background: url("../../public/media/icon-num-3.svg") no-repeat center;
    background-size: 100%;
    &:after {
      display: none;
    }
  }
  &:after {
    content: "";
    position: absolute;
    left: calc(100% + 0.6rem);
    top: 50%;
    transform: translateY(calc(-50% - 0.8rem));
    background: url('../../public/media/arrow-standard.svg') no-repeat left center;
    width: 28.8rem;
    height: 2.2rem;
    background-size: 100%;
    @include mediaMob {
      display: none;
    }
  }
}

.item-name {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 110%;
  margin-bottom: 1.6rem;
  @include mediaMob {
    font-size: 2rem;
    line-height: 120%;
    margin-left: 2rem;
    margin-bottom: 0;
    max-width: 1.6rem;
  }
}

.item-text {
  font-size: 2rem;
  line-height: 140%;
  @include mediaMob {
    font-size: 1.4rem;
  }
}



