@import "./scss/mixins";
@import "./scss/colors";

.donors {
  @include container;
}

.list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-wrap: wrap;
  grid-gap: 4rem;
  gap: 4rem;
  margin-bottom: 8rem;
  @include mediaMob {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.4rem;
    margin-bottom: 4rem;
  }
}


