@import "./scss/mixins";
@import "./scss/colors";

.goal {
  @include container;
}
.container {
  display: flex;
  border-radius: 2rem;
  overflow: hidden;
  background: $blue;
  padding: 5rem;

}
.content,
.progress {
  flex: 0 0 50%;
}

.title {
  @include  title-4;
  color: white;
  margin-bottom: 2.5rem;
}

.text {
  @include text-16;
  margin-bottom: 5rem;
  color: white;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.progress-circle {
  width: 35.3rem;
  height: 35.3rem;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  border-radius: 50%;
  background: url("../../public/media/circle.svg") no-repeat center;
}

.info {
  position: absolute;
  max-width: 16rem;
  max-height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.percent {
  font-size: 6rem;
  line-height: 100%;
  color: white;
  margin-bottom: 0.4rem;
}
.info-text {
  text-align: center;
  font-size: 16px;
  line-height: 130%;
  color: white;
}
