.check {
  cursor: pointer;
}

.input {
  display: none;
}

.label {
  position: relative;
  padding-left: 2.8rem;
  letter-spacing: 0.02em;
  cursor: pointer;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    height: 1.8rem;
    width: 1.8rem;
  }

  .input:checked + &:after {
    background: url("/media/test-check.svg") no-repeat center;
    background-size: 60% 60%;
  }

  &_color {
    &_white {
      color: white;
    }
  }
}








