@import "./scss/mixins";

.form {

}

.title {
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 1.2;
  color: white;
  margin-bottom: 4rem;
}

.input, .select {
  position: relative;
  height: 4.4rem;
  margin-bottom: 2rem;
  @include mediaMob {
    margin-bottom: 1.5rem;
  }
}

.select {
  width: 100%;
  appearance: none;
  @include input;
  background: url("../../public/media/arrow-select.svg") no-repeat calc(100% - 1.2rem) center;
}


.placeholder {
  position: absolute;
  left: 1.5rem;
  font-size: 1.6rem;
  line-height: 130%;
  top: 50%;
  color: white;
  transform: translateY(-50%);
}

.placeholder-value {
  opacity: 0.5;
}

.check {
  margin-top: 3.4rem;
  @include mediaMob {
    margin-top: 3rem;
  }
}

.student {
  position: relative;
  padding-top: 3.4rem;
  overflow: hidden;
  max-height: 0;
  transition: 0.2s max-height linear;
  visibility: hidden;
  @include mediaMob {
    padding-top: 3rem;
  }
  &_active {
    height: auto;
    max-height: 20rem;
    transition: 0.2s max-height linear;
    visibility: visible;
  }
  
  &_select_active {
    overflow: visible;
  }
}

.select-container {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  background: transparent;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  font-weight: normal;
  color: inherit;
  cursor: pointer;
}

.method {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 4.6rem;
  margin-bottom: 2rem;
  cursor: pointer;
  height: 4.4rem;
  @include mediaMob {
    height: 8.8rem;
    margin-bottom: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.item {
  position: relative;
  @include select;
  height: 4.4rem;
  box-shadow: 1px 1px 0 0px white inset, 1px -1px 0px white inset;
  @include mediaMob {
    box-shadow: 1px 1px 0 0px white inset;
  }
  &:first-child {
    border-radius: 0.4rem 0 0 0;
  }
  &:nth-child(2) {
    @include mediaMob {
      border-radius:  0 0.4rem 0 0;
      box-shadow: 1px 1px 0 0px white inset,  -1px 1px 0 0px white inset;
    }
  }
  &:nth-child(3) {
    @include mediaMob {
      border-radius:  0 0 0  0.4rem ;
      box-shadow: 1px 1px 0 0px white inset,  1px -1px 0 0px white inset;
    }
  }
  
  &:last-child {
    box-shadow: 1px 1px 0 0px white inset, 1px -1px 0px white inset, -1px -1px 0px 0px white inset;
    border-radius: 0 0.4rem 0.4rem 0;
    &:hover, &:focus, &:focus-visible {
      box-shadow:  1px 1px 0 1px white inset, 1px -1px 1px white inset, -1px -1px 0px 1px white inset, 1px -1px 0px 1px white inset;
    }
    @include mediaMob {
      border-radius: 0 0 0.4rem 0;
    }
  }
  &:hover, &:focus, &:focus-visible {
    outline: none;
    box-shadow:  1px 1px 0 1px white inset, 1px -1px 1px white inset, -1px -1px 0px 0px white inset, 1px -1px 0px 1px white inset;
  }
}

.method-name {
  font-size: 1.6rem;
  line-height: 130%;
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.method-icon {
  font-size: 1.6rem;
  margin-left: 0.4rem;
  margin-bottom: 0.2rem;
  &_3 {
    font-size: 1.4rem;
  }
}

.value {
  height: 4.4rem;
  margin-bottom: 8.1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 4.6rem;
  @include mediaMob {
    height: 8.8rem;
    display: block;
    margin-bottom: 3rem;
  }
}

.value-items {
  grid-area: 1 / 1 / 2/ 3;
  display: grid;
  height: 4.4rem;
  grid-template-columns: 1fr 1fr 1fr;
  @include mediaMob {
    height: 8.8rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.custom-donate {
  grid-area: 1 / 3 / 2 / 5;
  height: 4.4rem;
  margin-left: -0.2px;
  input {
    border-radius: 0 0.4rem 0.4rem 0;
    border: none;
  }
}

.value-item_custom-donate {
  input {
    @include mediaMob {
      border-radius: 0 0 0.4rem 0;
      box-shadow: 1px 1px 0 0px white inset, 1px -1px 0px white inset, -1px -1px 0px 0px white inset;
    }
  }
}

.tooltip {
  font-size: 1.2rem;
  line-height: 130%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem 0.9rem;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 0.8rem;
  position: absolute;
  top: calc(100% + 1.5rem);
  z-index: 2;
  width: 100%;
}

.pay-container {
  position: relative;
}

.privacy {
  color: white;
  font-size: 1.2rem;
  line-height: 130%;
  @include mediaMob {
    font-size: 0.8rem;
    line-height: 120%;
  }
  a {
    @include link-hovered;
  }
}

.apple {
  -webkit-appearance: -apple-pay-button;
  -apple-pay-button-type: plain;
  -apple-pay-button-style: black;
  width: 15rem;
  height: 3rem;
  border-radius: 3px;
}

.buttons {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.8rem;
  &_single {
    gap: 0;
  }
}

.pay-button {
  flex: 1 0 50%;
  &_no_active {
    flex-shrink: 1;
  }
  div, button {
    width: 100% !important;
    height: 100% !important;
  }
}

.pay-button-main {
  flex: 1 0 50%;
  &_100 {
    flex: 1 0 100%;
  }
}

.link {
  color: rgba(white, 0.6);
  text-decoration: none;
}



