@import "./scss/mixins";

.form {
}

.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.2;
  color: white;
  margin-bottom: 40px;
}

.input {
  height: 4.5rem;
  margin-bottom: 2rem;
}

.check {
  margin-top: 4rem;
}

.student {
  padding-top: 3.8rem;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: 0.3s visibility ease-in-out, 0.3s opacity ease-in-out,  0.3s max-height ease-in-out;
  &_active {
    visibility: visible;
    opacity: 1;
    height: auto;
    max-height: 100rem;
  }
}

.method {
  border-radius: 0.5rem;
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  margin-bottom: 2rem;
}

.item {
  @include select;
  height: 4rem;
  border-right: 1px solid white;
  &:last-child {
    border: none;
  }
}

.value {
  height: 4rem;
  margin-bottom: 4.5rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 1.5rem;
}


.privacy {
  color: white;
  font-size: 0.8rem;
  line-height: 1.5;
}

.apple {
  -webkit-appearance: -apple-pay-button;
  -apple-pay-button-type: plain;
  -apple-pay-button-style: black;
  width: 150px;
  height: 30px;
  border-radius: 3px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;
  margin-bottom: 1.8rem;
}



