@import "./scss/mixins";
@import "./scss/colors";

.donors-quote {
  background: $blue;
  padding-top: 12rem;
  padding-bottom: 12rem;
}

.container {
  @include container;
}

.items {
  @include col2;
  grid-gap: 6rem;
}

.item {
  width: 100%;
  height: 37rem;
  border-radius: 1rem;
  padding: 3rem 2rem 4rem 3rem;
  border: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text {
  font-size: 2rem;
  line-height: 140%;
  color: white;
}

.bottom {
  display: flex;
}

.img {
  position: relative;
  flex-shrink: 0;
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  margin-right: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.name {
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;
  color: white;
  margin-bottom: 0.8rem;
}

.info {
  font-size: 1.6rem;
  line-height: 130%;
  color: rgba(white, 0.6);
  width: 92%;
}