@import "./scss/mixins";
@import "./scss/colors";

.standard {
  background: $blue;
  padding-top: 15.8rem;
  padding-bottom: 6rem;
  @include mediaMob {
    padding-top: 7.8rem;
  }
}
.container {
  @include container;
}

.title {
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 110%;
  color: white;
  text-align: center;
  margin-bottom: 8rem;
  @include mediaMob {
    font-size: 2.4rem;
    margin-bottom: 6rem;
  }
}

.item {
  display: grid;
  grid-template-columns: 49rem 65.2rem;
  border-top: 1px solid rgba(white, 0.3);
  padding: 5.8rem 0 6rem;
  @include mediaMob {
    display: block;
    padding: 1.5rem 0 4rem;
  }
}

.item-name {
  position: relative;
  top: -1rem;
  padding-right: 2rem;
  width: 100%;
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 120%;
  color: white;
  @include mediaMob {
    top: 0;
    padding: 0;
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
}

.item-text {
  width: 100%;
  font-size: 2rem;
  line-height: 140%;
  color: white;
  padding-left: 2rem;
  @include mediaMob {
    font-size: 1.4rem;
    padding-left: 0;
  }
}