@import "scss/mixins";
.value {
  position: relative;
  height: 100%;
  width: 100%;
  background: transparent;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  font-weight: normal;
  white-space: nowrap;
  cursor: pointer;
  box-shadow: 1px 1px 0 0px white inset, 1px -1px 0px white inset;
  @include mediaMob {
    box-shadow: 1px 1px 0 0px white inset;
  }
  &:first-child {
    border-radius: 0.4rem 0 0 0.4rem;
    @include mediaMob {
      border-radius: 0.4rem 0 0 0;
    }
  }
  &:nth-child(2) {
    @include mediaMob {
      border-radius:  0 0.4rem 0 0;
      box-shadow: 1px 1px 0 0px white inset,  -1px 1px 0 0px white inset;
    }
  }
  &:nth-child(3) {
    @include mediaMob {
      border-radius:  0 0 0  0.4rem ;
      box-shadow: 1px 1px 0 0px white inset,  1px -1px 0 0px white inset;
    }
  }
  &:hover, &:focus, &:focus-visible {
    outline: none;
    box-shadow:  1px 1px 0 1px white inset, 1px -1px 1px white inset, -1px -1px 0px 0px white inset, 1px -1px 0px 1px white inset;
  }
  &_color {
    &_select {
      @include select;
      text-align: center;
    }
  }
}

.hidden {
  color: transparent;
  font-weight: bold;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

