@import "./scss/mixins";
@import "./scss/colors";
.footer {
  margin-top: auto;
  padding-top: 2rem;
  background: $blue;
  @include mediaMob {
    padding-top: 0;
    overflow: hidden;
    padding-bottom: env(safe-area-inset-bottom);
  }
}

.inner {
  @include container;
}

.main {
  display: grid;
  grid-template-columns: 20rem auto 20rem;
  align-items: center;
  padding: 2rem 0;
  @include mediaMob {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 0 5rem;
    border-top: 1px solid rgba(white, 0.3);
  }
}

.logo {
  position: relative;
  @include logo;
  width: 18.281rem;
  height: 3.9rem;
  &:after {
    width: 19.281rem;
    height: 5.9rem;
  }
  @include mediaMob {
    width: 15rem;
    height: 3.2rem;
    margin-bottom: 4.8rem;
    &:after {
      width: 16rem;
      height: 5.2rem;
    }
  }
}

.logo-img {
  height: 100%;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  @include mediaMob {
    width: 100%;
  }
}

.social {
  display: grid;
  gap: 2.8rem;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  grid-template-columns: repeat(5, 2.4rem);
  @include mediaMob {
    margin: 0 auto;
  }
}

.social-item {
  position: relative;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.link {
  display: flex;
  height: 100%;
  width: 100%;
  transition: 0.3s opacity ease-in-out;
  transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    top: 50%;
    left: 50%;
    -webkit-backface-visibility: hidden;
    transform: translate(-50%, -50%);
    border: 1px solid #FFFFFF;
    border-radius: 0.3rem;
    opacity: 0;
    transition: 0.3s opacity ease-in-out;
  }
  @include mediaNoTouch {
    &:hover {
      opacity: 0.6;
    }
  }
  &:active {
    opacity: 0.3;
  }
  &:focus {
    outline: none;
    &:after {
      opacity: 1;
    }
  }
}

.social-img {
  height: 100%;
  width: 100%;
}

.info {
  display: flex;
  padding: 2rem 0 4.1rem;
  @include mediaMob {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2rem;
    padding: 0 0 3rem;
    align-items: center;
  }
}

.info-description {
  margin-right: 2rem;
  width: 43.6rem;
  font-size: 1.2rem;
  line-height: 130%;
  color: rgba(white, 0.6);
  @include mediaMob {
    margin-right: 0;
    grid-area: 1/ 1/ 2/ 3;
    width: 100%;
    font-size: 1.2rem;
    line-height: 130%;
  }
  a {
    @include link-hovered;
    color: white;
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }
}

.links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 10.2rem;
  width: 100%;
}

.social-link {
  display: block;
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;
  text-decoration: none;
  margin-bottom: 1rem;
  color: white;
}

.info-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 15.6rem;
  height: 3.2rem;
  padding: 0.8rem 1.2rem 1rem;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  &:focus, &:focus-visible {
    outline: none;
  }
  @include mediaMob {
    width: 15.18rem;
    height: 3.2rem;
    padding: 0.8rem 1rem 1rem;
  }
}

.info-text {
  font-size: 1.2rem;
  line-height: 120%;
  color: white;
  margin-left: 1rem;
  white-space: nowrap;
}

.info-icon {
  width: 1.564rem;
  height: 1.352rem;
  flex-shrink: 0;
}

.copy {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-size: 1.4rem;
  line-height: 140%;
  color: rgba(#FFFFFF, 0.75);
  a {
    @include link-hovered;
    color: white;
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }
  @include mediaMob {
    text-align: right;
    font-size: 1.2rem;
    line-height: 130%;
  }
}