@import "../../scss/mixins";
@import "../../scss/colors";

.donor {
  cursor: pointer;
  height: 25rem;
  overflow: hidden;
  border-radius: 0.5rem;
  @include mediaMob {
    border-radius: 0.5rem;
    overflow: hidden;
    height: 21rem;
  }
  @include mediaTouch {
    user-select: none;
  }
}

.img {
  height: 16rem;
  width: 100%;
  position: relative;
  @include mediaMob {
    height: 13.5rem;
    width: 100%;
  }
  @include mediaTouch {
    pointer-events: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
}

.info {
  position: relative;
  background: #F7F7F7;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 25rem;
  transition: 0.05s background ease-in-out,  0.1s transform cubic-bezier(0.4, 0.0, 1, 1);
  @include mediaMob {
    height: 7.5rem;
    padding: 1rem;
  }
}

.name {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 110%;
  height: 3.2rem;
  transition: 0.05s all ease-in-out;
  transform-origin: top left;
  margin-bottom: 1.3rem;
  @include mediaMob {
    height: auto;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 110%;
  }
}

.company, .details-company {
  position: absolute;
  top: 5.9rem;
  left: 1.5rem;
  @include mediaMob {
    left: 1rem;
    top: 4.9rem;
  }
}

.company {
  font-size: 1.2rem;
  line-height: 130%;
  transition: 0.05s visibility ease-in-out, 0.05s opacity ease-in-out, 0.05s top ease-in-out;
  color: rgba(black, 0.6);
  @include mediaMob {
    font-size: 1.2rem;
    line-height: 130%;
    color: rgba(black, 0.75)
  }
}

.details-company {
  font-size: 1.2rem;
  line-height: 130%;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.05s visibility ease-in-out, 0.05s opacity ease-in-out;
}

.description {
  font-size: 1.2rem;
  line-height: 130%;
  color: white;
  margin-top: auto;
}

.button {
  height: 4.4rem;
  background: #FFFFFF;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 100%;
  color: black;
}

.container {

  @include mediaNoTouch {
    &:hover {

      .info {
        transform: translateY(-16rem);
        transition: 0.150s transform cubic-bezier(0.0, 0.0, 0.2, 1), 0.05s background ease-in-out;
        background: $blue;
      }
      .name {
        color: white;
        transition: 0.150s all ease-in-out;
      }
      .company {
        visibility: hidden;
        opacity: 0;
        transition: 0.05s visibility ease-in-out, 0.05s opacity ease-in-out, 0.05s top ease-in-out;
      }
      .details-company {
        visibility: visible;
        opacity: 1;
        transition: 0.05s visibility ease-in-out, 0.05s opacity ease-in-out;
      }
    }
  }
  @include mediaTouch {
    &:active {
      transform: translateY(-16rem);
      transition: 0.150s transform cubic-bezier(0.0, 0.0, 0.2, 1);;
      .info {
        background: $blue;
        transition: 0.150s background ease-in-out;
      }
      .name {
        color: white;
        transition: 0.150s all ease-in-out;
      }
      .company {
        visibility: hidden;
        opacity: 0;
        transition: 0.150s visibility ease-in-out, 0.150s opacity ease-in-out, 0.150s top ease-in-out;
      }
      .details-company {
        visibility: visible;
        opacity: 1;
        transition: 0.150s visibility ease-in-out, 0.150s opacity ease-in-out;
      }
    }
  }

}