@import "../../scss/mixins";
@import "../../scss/colors";

.donor {
  cursor: pointer;
}

.flipper {
  position: relative;
  width: 100%;
  height: 24.3rem;
  perspective: 7000px;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.8s transform ease-in-out;
}

.front {
  z-index: 2;
  .donor:hover & {
    transform: rotateY(180deg)
  }
}
.back {
  transform: rotateY(180deg);
  padding: 1.5rem;
  background: #2d83e8;
  display: flex;
  flex-direction: column;
  .donor:hover & {
    transform: rotateY(360deg)
  }
}

.img {
  height: 16rem;
  width: 16rem;
  background: rebeccapurple;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info {
  background: #F7F7F7;
  padding: 1.5rem;
  height: 8.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 100%;
  margin-bottom: 0.5rem;
}

.company {
  font-size: 1.2rem;
  line-height: 130%;
}

.back-name {
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;
  color: white;
  margin-bottom: 1rem;
}

.back-company {
  font-size: 1.2rem;
  line-height: 130%;
  color: white;
}

.back-description {
  font-size: 1.2rem;
  line-height: 130%;
  color: white;
  margin-top: auto;
}