@import "./scss/mixins";
@import "./scss/colors";

.success {
  @include container;
  @include col2;
  margin-top: 7.8rem;
  padding-top: 8rem;
  padding-bottom: 8.4rem;
}

.part {

}

.title {
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 110%;
  margin-bottom:  2.5rem;
  max-width: 46rem;
}

.text {
  font-size: 2rem;
  line-height: 140%;
}

.background-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 41.1rem;
  border-radius: 2rem;
  background: linear-gradient(180deg, #2D83E8 15.8%, #4D8FEB 39.6%, #BBE6FF 71.74%);
  padding: 2.4rem;
  overflow: hidden;
  transform: translateX(0, 0, 0);
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.logo {
  position: relative;
  width: 12.6rem;
  height: 2.7rem;
  margin-bottom: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 100%;
  height: 100%;
}

.img-title {
  font-weight: 500;
  font-size: 3rem;
  line-height: 120%;
  color: white;
  max-width: 50rem;
  text-align: center;
}

.img-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 20rem;
}

.share-title {
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  font-weight: normal;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(black, 0.3);
}

.items {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.share-link {
  transition: 0.3s opacity ease-in-out;
  transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $blue;
    border-radius: 0.3rem;
    opacity: 0;
    transition: 0.3s opacity ease-in-out;
  }
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
  &:focus {
    outline: none;
    &:after {
      opacity: 1;
    }
  }
}