@import "./scss/mixins";
.media {
  @include container;
  padding-bottom: 10rem;
}

.title {
  @include title-2;
  margin-bottom: 6rem;
}

.items {
  @include col3;
}

.item {
  position: relative;
  border-radius: 1rem;
  padding: 3rem 2.5rem;
  height: 26.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  transition: 0.3s background-color ease-in-out;
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 1rem;
    box-shadow: 0 0 0 1px  rgba(0, 0, 0, 0.3) inset;
    transition: 0.3s opacity ease-in-out;
  }
  &:hover, &:active {
    background: #F7F7F7;
    &:after {
      opacity: 0;
    }
  }
  
  &:active {
    background: rgba(0, 0, 0, 0.1);
    &:after {
      opacity: 0;
    }
  }
}

.text {
  font-size: 2rem;
  line-height: 140%;
}

.bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.date {
  font-size: 1.2rem;
  line-height: 130%;
  letter-spacing: 0.02em;
  opacity: 0.6;
}

