@import "scss/mixins";
.input {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  background: transparent;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  font-weight: normal;
  color: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  

  &_color {
    &_white {
      color: white;
      box-shadow: 0 0 0 1px white inset;
      transition: 0.3s box-shadow ease-in-out;
      &::placeholder {
        color: white;
      }
      &:enabled {
        &:hover {
          box-shadow: 0 0 0 2px white inset;
        }
      }
    }
    &_select {
      @include select;
      text-align: center;
      &::placeholder {
        text-align: center;
        color: white;
      }
      &_active {
        &::placeholder {
          color: $blue;
        }
      }
    }
  }
  &:-webkit-autofill, &:-webkit-autofill:hover,  &:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0 1px white inset, 0 0 0 50px #2D83E8 inset; /* можно изменить на любой вариант цвета */
    -webkit-text-fill-color: white;
    transition: none;
    caret-color: white;
  }
}

