@import "./scss/mixins";
@import "./scss/colors";

.board {
  @include container;
  padding-bottom: 13rem;
  @include mediaMob {
    padding-bottom: 6rem;
  }
}

.title, .text {
  max-width: 85.5rem;
  @include mediaMob {
    max-width: none;
  }
}

.title {
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 110%;
  padding-top: 13rem;
  margin-bottom: 5rem;
  @include mediaMob {
    padding-top: 6rem;
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
  }
}

.text {
  font-size: 2.4rem;
  line-height: 140%;
  margin-bottom: 10rem;
  @include mediaMob {
    font-size: 1.4rem;
    margin-bottom: 5rem;
  }
}

.board-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 47.5rem;
  grid-gap: 4rem;
  @include mediaMob {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 26.6rem;
    grid-gap: 1.5rem;
  }
}

.board-item {
  border-radius: 1rem;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  @include mediaMob {
    border-radius: 0.5rem;
  }
}

.item-image {
  position: relative;
  width: 100%;
  height: 26rem;
  @include mediaMob {
    height: 13.2rem;
  }
}

.item-description {
  width: 100%;
  height: 21.5rem;
  padding: 2rem 1.6rem;
  display: flex;
  flex-direction: column;
  background: #F7F7F7;
  @include mediaMob {
    height: 13.4rem;
    padding: 1rem;
  }
}

.item-name {
  flex-shrink: 0;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 110%;
  margin-bottom: 1rem;
  @include mediaMob {
    font-size: 1.4rem;
    line-height: 120%;
    margin-bottom: 0.4rem;
  }
}

.item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-text, .item-info {
  font-size: 1.6rem;
  line-height: 130%;
  color: rgba(black, 0.6);
  @include mediaMob {
    font-size: 0.8rem;
    line-height: 120%;
  }
}

.item-info {
  @include mediaMob {
    font-size: 1rem;
    line-height: 130%;
  }
}



.document-container {
  margin-top: 10rem;
  @include mediaMob {
    margin-top: 5rem;
  }
}

.document-title {
  font-weight: normal;
  font-size: 3.6rem;
  line-height: 130%;
  margin-bottom: 6rem;
  @include mediaMob {
    font-size: 2rem;
    line-height: 140%;
    margin-bottom: 3rem;
  }
}

.documents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 6rem;
  grid-row-gap: 4rem;
  @include mediaMob {
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
  }
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  &:after {
    content: '';
    position: absolute;
    width: calc(100% + 4rem);
    height: calc(100% + 2rem);
    top: -1rem;
    left: -2rem;
    opacity: 0;
    pointer-events: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    transition: 0.3s opacity ease-in-out;
  }
  &:focus-visible,
  &:focus {
    outline: none;
    &:after {
      opacity: 1;
    }
  }
}

.doc-image-container {
  width: 4.3rem;
  height: 5.7rem;
  position: relative;
  flex-shrink: 0;
  margin-right: 3rem;
  -webkit-tap-highlight-color: transparent;
  @include mediaMob {
    width: 3.4rem;
    height: 4.5rem;
    margin-right: 2rem;
  }
  .doc-image,
  &:after,
  &:before {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.2s opacity ease-in-out;
    z-index: 1;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
  }
  .doc-image {
    background: url("../../public/media/document-icon.svg") no-repeat left center;
    background-size: cover;
    @include mediaNoTouch {
      & {
        .link:hover &,
        .link:focus &,
        .link:focus-visible & {
          opacity: 0;
        }
      }
    }
    .link:active & {
      opacity: 0;
    }
  }
  &:after {
    content: '';
    background: url("../../public/media/document-icon-hovered.svg") no-repeat left center;
    background-size: cover;
    opacity: 0;
    @include mediaNoTouch {
      & {
        .link:hover &,
        .link:focus &,
        .link:focus-visible & {
          opacity: 1;
        }
      }
    }

    .link:active & {
      opacity: 0;
    }
  }

  &:before {
    content: '';
    background: url("../../public/media/document-icon-pushed.svg") no-repeat left center;
    background-size: cover;
    z-index: 2;
    opacity: 0;
   @include mediaNoTouch {
      & {
        .link:hover &,
        .link:focus &,
        .link:focus-visible & {
          opacity: 0;
        }
      }
    }

    .link:active & {
      opacity: 1;
    }
  }
}

.icon-img {
  width: 100%;
  height: 100%;
}

.icon-text {
  position: absolute;
  bottom: 0.7rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.2rem;
  line-height: 150%;
  letter-spacing: 0.02em;
  transition: 0.2s color ease-in-out;
  z-index: 3;
  -webkit-backface-visibility: hidden;
  @include mediaMob {
    font-size: 1.2rem;
    bottom: 0.3rem;
  }
  @include mediaNoTouch {
    & {
      .link:hover &,
      .link:focus &,
      .link:focus-visible & {
        color: $blue;
      }
    }
  }
  .link:active & {
    color: $blue;
  }
}

.doc-name {
  font-size: 1.4rem;
  line-height: 140%;
  text-decoration: none;
  transition: 0.3s color ease-in-out;
  @include mediaMob {
    font-size: 1.2rem;
    line-height: 130%;
  }
  .link:hover &,
  .link:focus &,
  .link:focus-visible &,
  .link:active & {
    color: rgba(black, 0.6);
  }
}

.fund {
  background: #F7F7F7;
  padding-bottom: 13rem;
  @include mediaMob {
    padding-bottom: 6rem;
  }
}

.fund-inner {
  @include container;
}

.fund-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 16rem;
  grid-gap: 4rem;
  @include mediaMob {
    grid-template-columns: 1fr;
    grid-auto-rows: 7.8rem;
    grid-gap: 1.5rem;
  }
}

.fund-item {
  background: white;
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include mediaMob {
    border-radius: 0.5rem;
    padding: 1rem;
  }
}

.company {
  @include container;
  padding-bottom: 10rem;
  @include mediaMob {
    padding-bottom: 6rem;
  }
}

.table-container {
  background: #F7F7F7;
  border-radius: 2rem;
  padding: 2rem 4rem;
  @include mediaMob {
    padding: 0;
    background: white;
  }
}

.table-header {
  border-bottom: 1px solid rgba(black, 0.3);
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  @include mediaMob {
    padding: 1.5rem 0;
    margin-bottom: 2rem;
  }
}

.table-title {
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 120%;
  @include mediaMob {
    font-size: 2rem;
  }
}

.table-info {
  font-size: 1.2rem;
  line-height: 130%;
  color: rgba(black, 0.6);
  @include mediaMob {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
}

.table {
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
  scrollbar-width: none;
}

.th, .td {
  padding: 2.3rem 2rem;
  white-space: nowrap;
  text-align: left;
  &:first-child {
    max-width: 5.2rem;
    position: sticky;
    left: 0;
    z-index: 2;
    padding-right: 2rem;
    @include mediaMob {
      max-width: 2.3rem;
    }
  }
  &:nth-child(2) {
    position: sticky;
    left: 5.2rem;
    z-index: 2;
    padding-right: 2rem;
    @include mediaMob {
      left: 2.3rem;
    }
  }
}

.th {
  padding: 2.3rem 3rem 2.3rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 120%;
  background: #F7F7F7;
  @include mediaMob {
    font-size: 1.2rem;
    line-height: 100%;
    padding: 1rem;
    background: white;
  }
  &:first-child {
    padding-left: 0;
    text-align: center;
    padding-right: 0;
  }
}

.td {
  font-size: 1.6rem;
  line-height: 130%;
  padding: 0 3rem;
  height: 5.4rem;
  @include mediaMob {
    font-size: 1rem;
    height: 3.3rem;
    padding: 0 1rem;
  }
  &:first-child, &:nth-child(2) {
    padding: 0;
  }
  &:nth-child(3) {
    @include mediaMob {
      border-radius: 0.5rem 0 0 0.5rem;
    }
  }
  .name-1 {
    width: 5.2rem;
    height: 5.4rem;
    display: flex;
    align-items: center;
    padding: 1.9rem 2rem;
    @include mediaMob {
      width: 2.3rem;
      height: 3.3rem;
      padding: 2rem 1rem;
      border-radius: 0.5rem 0 0 0.5rem;
    }
  }
  .name-2 {
    height: 5.4rem;
    display: flex;
    align-items: center;
    padding: 1.9rem 2rem;
    margin-right: 1rem;
    @include mediaMob {
      height: 3.3rem;
      padding: 2rem 1rem;
      border-radius: 0 0.5rem 0.5rem 0;
    }
  }
}

.tr {
  &:nth-child(even) {
    .td {
      background: white;
      @include mediaMob {
        background: #F7F7F7;
      }
      &:first-child, &:nth-child(2) {
        background: #F7F7F7;
        @include mediaMob {
          background: white;
        }
        span {
          background: white;
          @include mediaMob {
            background: #F7F7F7;
          }
        }
      }
    }
  }
  &:nth-child(odd) {
    .td {
      background: #F7F7F7;
      @include mediaMob {
        background: white;
      }
    }
  }
}












